header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header-container {
  text-align: center;
  height: 100%;
  position: relative;
}

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

.my-social-accounts {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  width: 3rem;
  left: 0;
  bottom: 3rem;
}

.my-social-accounts::after {
  width: 1rem;
  height: 2rem;
  background: var(--color-primary);
}

.my-image {
  background: linear-gradient(var(--color-primary), transparent);
  width: 22rem;
  height: 32rem;
  position: absolute;
  top: 30rem;
  left: 50%;
  margin-top: 4rem;
  border-radius: 12rem 12rem 0 0;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1024px) {
  header {
    height: 80vh;
  }

  .container {
	  bottom:5rem;
  }

  .my-image {
    width: 20rem;
    height: 45rem;
    margin-top: 10rem;
    top: 30rem;
    padding: 1rem;
  }

}

@media screen  and (max-width: 600px) {
  header {
    height: 100vh;
  }
  
  .container {
	  bottom:5rem;
  }

  .my-image {
    width: 18rem;
    height: 25rem;
    margin-top: 15rem;
    top: 18rem;
    padding: 1rem;
  }
  
}

@media screen and (max-width: 400px) {
   .my-image {
    width: 18rem;
    height: 25rem;
    margin-top: 15rem;
    top: 20rem;
    padding: 1rem;
  } 
}


.scroll-down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9rem;
}
